In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Hp\Downloads\churn.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.drop(columns = ['RowNumber','CustomerId','Surname'],inplace=True)

In [5]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [7]:
df.duplicated().sum()

0

In [8]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [9]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [10]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [11]:
#handling imbalance data (UNDER SAMPLING)

#using under sampling( in tis process we will be taking all the points from category having less counts and we will randomly sample same number of counts from the category having high value counts
example- Excited column= 7964 (0's), 2037 (1's) so in this we will have all values of 1 and we will randomly sample 2037 values from 0. it should only be peform when we have huge number of data set

In [12]:
X = df.drop(columns=['Exited'])
y = df['Exited'].values

In [13]:
#Converting categorucal variables to numerical

In [14]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder(drop='first', sparse=False)
geo = one_hot_encoder.fit_transform(df[['Geography']])
gender = one_hot_encoder.fit_transform(df[['Gender']])

C:\Users\Hp\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [15]:
X_rem = X.drop(columns=['Geography','Gender'])
#X_rem

In [16]:
X_new = np.concatenate((X_rem,geo,gender),axis=1)

In [17]:
X_new.shape

(10000, 11)

# handling imbalance data (UNDER SAMPLING)

#using under sampling( in tis process we will be taking all the points from category having less counts and we will randomly sample same number of counts from the category having high value counts
example- Excited column= 7964 (0's), 2037 (1's) so in this we will have all values of 1 and we will randomly sample 2037 values from 0. it should only be peform when we have huge number of data set

In [18]:
no = df[df['Exited']==0]
yes = df[df['Exited']==1]

In [19]:
print(no.shape,yes.shape)

(7963, 11) (2037, 11)

In [20]:
#!pip install imblearn
from imblearn.under_sampling import RandomUnderSampler

In [21]:
#implementing undersampling
rs = RandomUnderSampler()

In [22]:
X_res,y_res =rs.fit_resample(X_new,y)

In [23]:
X_res.shape,y_res.shape

((4074, 11), (4074,))

In [24]:
from collections import Counter
print('Originol dataset shape {}'.format(Counter(y)))
print('resample dataset shape {}'.format(Counter(y_res)))

Originol dataset shape Counter({0: 7963, 1: 2037})
resample dataset shape Counter({0: 2037, 1: 2037})

# handling imbalanced data (OVER SAMPLING)

in oversampling we create a new data set having similar number of highest values and for less count category we increase that points in same dimension 
example - in exited = 0's are 7963 and 1's are 2037 so we will have same number of 0;s in new data set where as 1's will be increased to maintain the ratio 1:1

In [25]:
from imblearn.combine import SMOTETomek

In [26]:
smk = SMOTETomek(random_state=42)

In [27]:
X_upsam,y_upsam = smk.fit_resample(X_new,y)

In [28]:
X_upsam.shape, y_upsam.shape

((13778, 11), (13778,))

In [29]:
from collections import Counter
print('Originol dataset shape {}'.format(Counter(y)))
print('resample dataset shape {}'.format(Counter(y_upsam)))

Originol dataset shape Counter({0: 7963, 1: 2037})
resample dataset shape Counter({1: 6889, 0: 6889})

# Model Building

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_upsam,y_upsam,test_size=0.2,random_state=0)

In [31]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)

In [32]:
#pip install --upgrade tensorflow

In [33]:
import tensorflow as tf

WARNING:tensorflow:From C:\Users\Hp\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [35]:
from tensorflow import keras
from tensorflow.keras import Sequential 
from tensorflow.keras.layers import Dense

In [37]:
model = Sequential()

model.add(Dense(11,activation='relu',input_dim=11))
model.add(Dense(11,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [38]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 11)                132

 dense_4 (Dense)             (None, 11)                132

 dense_5 (Dense)             (None, 1)                 12

=================================================================
Total params: 276 (1.08 KB)
Trainable params: 276 (1.08 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [39]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Hp\anaconda3\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [40]:
model.fit(X_train,y_train,batch_size=50,epochs=100,verbose=1,validation_split=0.2)

Epoch 1/100
WARNING:tensorflow:From C:\Users\Hp\anaconda3\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Hp\anaconda3\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

177/177 [==============================] - 5s 12ms/step - loss: 781.1871 - accuracy: 0.5171 - val_loss: 112.2088 - val_accuracy: 0.5007
Epoch 2/100
177/177 [==============================] - 1s 7ms/step - loss: 74.1832 - accuracy: 0.5126 - val_loss: 81.2028 - val_accuracy: 0.5116
Epoch 3/100
177/177 [==============================] - 1s 8ms/step - loss: 61.0785 - accuracy: 0.5165 - val_loss: 68.9149 - val_accuracy: 0.5769
Epoch 4/100
177/177 [==============================] - 1s 8ms/step - loss: 56.5679 - accuracy: 0.5261 - val_loss: 40.4002 - val_accuracy: 0.5478
Epoch 5/100
177/177 [==============================] - 1s 7ms/step - loss: 47.7257 - accuracy: 0.5381 - val_loss: 40.3243 - val_accuracy: 0.5556
Epoch 6/100
177/177 [==============================] - 2s 11ms/step - loss: 44.2947 - accuracy: 0.5265 - val_loss: 22.9189 - val_accuracy: 0.5297
Epoch 7/100
177/177 [==============================] - 2s 10ms/step - loss: 36.1729 - accuracy: 0.5164 - val_loss: 18.0136 - val_accuracy: 0.5410
Epoch 8/100
177/177 [==============================] - 2s 10ms/step - loss: 36.5979 - accuracy: 0.5195 - val_loss: 68.2466 - val_accuracy: 0.5415
Epoch 9/100
177/177 [==============================] - 2s 9ms/step - loss: 44.0226 - accuracy: 0.5151 - val_loss: 19.6348 - val_accuracy: 0.5859
Epoch 10/100
177/177 [==============================] - 2s 9ms/step - loss: 40.9468 - accuracy: 0.5171 - val_loss: 69.0521 - val_accuracy: 0.4848
Epoch 11/100
177/177 [==============================] - 2s 9ms/step - loss: 35.9018 - accuracy: 0.5286 - val_loss: 17.9833 - val_accuracy: 0.5578
Epoch 12/100
177/177 [==============================] - 2s 9ms/step - loss: 46.3135 - accuracy: 0.5257 - val_loss: 42.2007 - val_accuracy: 0.5401
Epoch 13/100
177/177 [==============================] - 2s 9ms/step - loss: 38.6512 - accuracy: 0.5213 - val_loss: 56.0746 - val_accuracy: 0.4227
Epoch 14/100
177/177 [==============================] - 2s 9ms/step - loss: 48.0376 - accuracy: 0.5185 - val_loss: 75.0209 - val_accuracy: 0.4848
Epoch 15/100
177/177 [==============================] - 1s 8ms/step - loss: 36.8158 - accuracy: 0.5253 - val_loss: 55.4407 - val_accuracy: 0.5401
Epoch 16/100
177/177 [==============================] - 1s 8ms/step - loss: 53.5384 - accuracy: 0.5291 - val_loss: 37.0151 - val_accuracy: 0.5701
Epoch 17/100
177/177 [==============================] - 2s 9ms/step - loss: 33.8118 - accuracy: 0.5303 - val_loss: 36.4838 - val_accuracy: 0.5274
Epoch 18/100
177/177 [==============================] - 2s 9ms/step - loss: 43.9998 - accuracy: 0.5243 - val_loss: 35.8477 - val_accuracy: 0.5166
Epoch 19/100
177/177 [==============================] - 2s 9ms/step - loss: 31.2634 - accuracy: 0.5277 - val_loss: 24.0695 - val_accuracy: 0.5460
Epoch 20/100
177/177 [==============================] - 1s 8ms/step - loss: 38.6091 - accuracy: 0.5217 - val_loss: 35.0092 - val_accuracy: 0.5850
Epoch 21/100
177/177 [==============================] - 2s 9ms/step - loss: 23.3868 - accuracy: 0.5427 - val_loss: 38.4099 - val_accuracy: 0.4739
Epoch 22/100
177/177 [==============================] - 1s 8ms/step - loss: 27.9225 - accuracy: 0.5434 - val_loss: 44.6475 - val_accuracy: 0.4213
Epoch 23/100
177/177 [==============================] - 2s 9ms/step - loss: 34.2450 - accuracy: 0.5294 - val_loss: 36.2549 - val_accuracy: 0.5438
Epoch 24/100
177/177 [==============================] - 2s 9ms/step - loss: 42.7105 - accuracy: 0.5285 - val_loss: 10.4799 - val_accuracy: 0.5483
Epoch 25/100
177/177 [==============================] - 2s 9ms/step - loss: 36.1810 - accuracy: 0.5351 - val_loss: 34.9127 - val_accuracy: 0.5773
Epoch 26/100
177/177 [==============================] - 2s 9ms/step - loss: 42.8746 - accuracy: 0.5307 - val_loss: 23.5144 - val_accuracy: 0.5315
Epoch 27/100
177/177 [==============================] - 2s 9ms/step - loss: 32.1770 - accuracy: 0.5298 - val_loss: 19.7971 - val_accuracy: 0.5311
Epoch 28/100
177/177 [==============================] - 2s 9ms/step - loss: 30.7841 - accuracy: 0.5357 - val_loss: 24.6868 - val_accuracy: 0.5587
Epoch 29/100
177/177 [==============================] - 2s 9ms/step - loss: 26.9576 - accuracy: 0.5370 - val_loss: 20.4087 - val_accuracy: 0.5642
Epoch 30/100
177/177 [==============================] - 2s 9ms/step - loss: 36.2211 - accuracy: 0.5278 - val_loss: 65.0726 - val_accuracy: 0.5819
Epoch 31/100
177/177 [==============================] - 2s 9ms/step - loss: 40.1355 - accuracy: 0.5319 - val_loss: 44.7146 - val_accuracy: 0.4957
Epoch 32/100
177/177 [==============================] - 2s 9ms/step - loss: 35.8807 - accuracy: 0.5374 - val_loss: 46.4906 - val_accuracy: 0.4866
Epoch 33/100
177/177 [==============================] - 2s 9ms/step - loss: 22.2665 - accuracy: 0.5438 - val_loss: 37.0636 - val_accuracy: 0.5510
Epoch 34/100
177/177 [==============================] - 2s 9ms/step - loss: 34.3519 - accuracy: 0.5387 - val_loss: 31.8407 - val_accuracy: 0.4989
Epoch 35/100
177/177 [==============================] - 2s 9ms/step - loss: 42.4826 - accuracy: 0.5370 - val_loss: 22.4092 - val_accuracy: 0.5628
Epoch 36/100
177/177 [==============================] - 2s 9ms/step - loss: 30.2613 - accuracy: 0.5413 - val_loss: 17.8236 - val_accuracy: 0.5252
Epoch 37/100
177/177 [==============================] - 2s 9ms/step - loss: 29.1796 - accuracy: 0.5415 - val_loss: 27.5647 - val_accuracy: 0.5805
Epoch 38/100
177/177 [==============================] - 2s 9ms/step - loss: 38.3273 - accuracy: 0.5334 - val_loss: 33.1981 - val_accuracy: 0.5905
Epoch 39/100
177/177 [==============================] - 2s 10ms/step - loss: 33.1396 - accuracy: 0.5435 - val_loss: 16.9173 - val_accuracy: 0.5052
Epoch 40/100
177/177 [==============================] - 2s 10ms/step - loss: 30.7038 - accuracy: 0.5483 - val_loss: 13.3688 - val_accuracy: 0.5810
Epoch 41/100
177/177 [==============================] - 1s 8ms/step - loss: 26.3422 - accuracy: 0.5536 - val_loss: 13.7811 - val_accuracy: 0.5868
Epoch 42/100
177/177 [==============================] - 1s 8ms/step - loss: 28.0765 - accuracy: 0.5420 - val_loss: 28.4493 - val_accuracy: 0.5900
Epoch 43/100
177/177 [==============================] - 2s 9ms/step - loss: 31.1985 - accuracy: 0.5329 - val_loss: 27.3712 - val_accuracy: 0.5982
Epoch 44/100
177/177 [==============================] - 2s 9ms/step - loss: 37.0503 - accuracy: 0.5399 - val_loss: 28.0269 - val_accuracy: 0.5420
Epoch 45/100
177/177 [==============================] - 1s 8ms/step - loss: 32.2487 - accuracy: 0.5489 - val_loss: 83.0658 - val_accuracy: 0.4299
Epoch 46/100
177/177 [==============================] - 2s 10ms/step - loss: 25.7325 - accuracy: 0.5567 - val_loss: 22.9361 - val_accuracy: 0.5900
Epoch 47/100
177/177 [==============================] - 2s 9ms/step - loss: 28.0648 - accuracy: 0.5564 - val_loss: 48.6034 - val_accuracy: 0.5234
Epoch 48/100
177/177 [==============================] - 2s 9ms/step - loss: 27.0985 - accuracy: 0.5415 - val_loss: 22.5958 - val_accuracy: 0.5927
Epoch 49/100
177/177 [==============================] - 2s 9ms/step - loss: 29.0541 - accuracy: 0.5553 - val_loss: 19.1749 - val_accuracy: 0.6041
Epoch 50/100
177/177 [==============================] - 2s 10ms/step - loss: 41.7520 - accuracy: 0.5412 - val_loss: 30.9593 - val_accuracy: 0.5873
Epoch 51/100
177/177 [==============================] - 2s 10ms/step - loss: 28.7045 - accuracy: 0.5458 - val_loss: 38.9752 - val_accuracy: 0.4803
Epoch 52/100
177/177 [==============================] - 2s 9ms/step - loss: 27.9218 - accuracy: 0.5537 - val_loss: 38.2238 - val_accuracy: 0.5805
Epoch 53/100
177/177 [==============================] - 2s 9ms/step - loss: 32.2118 - accuracy: 0.5586 - val_loss: 30.9992 - val_accuracy: 0.5011
Epoch 54/100

177/177 [==============================] - 1s 8ms/step - loss: 26.7932 - accuracy: 0.5446 - val_loss: 22.2300 - val_accuracy: 0.5537
Epoch 55/100
177/177 [==============================] - 1s 7ms/step - loss: 27.6573 - accuracy: 0.5537 - val_loss: 27.1340 - val_accuracy: 0.5179
Epoch 56/100
177/177 [==============================] - 1s 8ms/step - loss: 28.8248 - accuracy: 0.5542 - val_loss: 29.3050 - val_accuracy: 0.5265
Epoch 57/100
177/177 [==============================] - 1s 8ms/step - loss: 27.4253 - accuracy: 0.5446 - val_loss: 21.1990 - val_accuracy: 0.6073
Epoch 58/100
177/177 [==============================] - 1s 5ms/step - loss: 31.6281 - accuracy: 0.5445 - val_loss: 12.9275 - val_accuracy: 0.5905
Epoch 59/100
177/177 [==============================] - 1s 8ms/step - loss: 27.0768 - accuracy: 0.5577 - val_loss: 59.3280 - val_accuracy: 0.4608
Epoch 60/100
177/177 [==============================] - 1s 8ms/step - loss: 31.8368 - accuracy: 0.5522 - val_loss: 17.8492 - val_accuracy: 0.5320
Epoch 61/100
177/177 [==============================] - 2s 9ms/step - loss: 26.7191 - accuracy: 0.5497 - val_loss: 17.4170 - val_accuracy: 0.5837
Epoch 62/100
177/177 [==============================] - 2s 9ms/step - loss: 27.4453 - accuracy: 0.5571 - val_loss: 31.2009 - val_accuracy: 0.4957
Epoch 63/100
177/177 [==============================] - 2s 9ms/step - loss: 35.1424 - accuracy: 0.5438 - val_loss: 17.8970 - val_accuracy: 0.6027
Epoch 64/100
177/177 [==============================] - 2s 9ms/step - loss: 26.1563 - accuracy: 0.5537 - val_loss: 18.7985 - val_accuracy: 0.5560
Epoch 65/100
177/177 [==============================] - 2s 9ms/step - loss: 26.5603 - accuracy: 0.5586 - val_loss: 12.8254 - val_accuracy: 0.5868
Epoch 66/100
177/177 [==============================] - 2s 9ms/step - loss: 36.3959 - accuracy: 0.5479 - val_loss: 24.0099 - val_accuracy: 0.5102
Epoch 67/100
177/177 [==============================] - 2s 9ms/step - loss: 22.0442 - accuracy: 0.5579 - val_loss: 22.2326 - val_accuracy: 0.5628
Epoch 68/100
177/177 [==============================] - 2s 9ms/step - loss: 22.2551 - accuracy: 0.5640 - val_loss: 12.6078 - val_accuracy: 0.5410
Epoch 69/100
177/177 [==============================] - 2s 9ms/step - loss: 39.3751 - accuracy: 0.5458 - val_loss: 57.7480 - val_accuracy: 0.5855
Epoch 70/100
177/177 [==============================] - 2s 10ms/step - loss: 27.7214 - accuracy: 0.5512 - val_loss: 13.5297 - val_accuracy: 0.5646
Epoch 71/100
177/177 [==============================] - 2s 9ms/step - loss: 24.4114 - accuracy: 0.5631 - val_loss: 56.5938 - val_accuracy: 0.4925
Epoch 72/100
177/177 [==============================] - 2s 10ms/step - loss: 33.1825 - accuracy: 0.5426 - val_loss: 23.4408 - val_accuracy: 0.6063
Epoch 73/100
177/177 [==============================] - 1s 8ms/step - loss: 28.3688 - accuracy: 0.5576 - val_loss: 53.0490 - val_accuracy: 0.4930
Epoch 74/100
177/177 [==============================] - 2s 9ms/step - loss: 26.0227 - accuracy: 0.5497 - val_loss: 37.4733 - val_accuracy: 0.5193
Epoch 75/100
177/177 [==============================] - 2s 9ms/step - loss: 25.2276 - accuracy: 0.5588 - val_loss: 36.4676 - val_accuracy: 0.5197
Epoch 76/100
177/177 [==============================] - 2s 9ms/step - loss: 25.8641 - accuracy: 0.5632 - val_loss: 6.8656 - val_accuracy: 0.5923
Epoch 77/100
177/177 [==============================] - 1s 8ms/step - loss: 24.6436 - accuracy: 0.5618 - val_loss: 31.3894 - val_accuracy: 0.5283
Epoch 78/100
177/177 [==============================] - 2s 9ms/step - loss: 27.5293 - accuracy: 0.5539 - val_loss: 59.4442 - val_accuracy: 0.5859
Epoch 79/100
177/177 [==============================] - 2s 10ms/step - loss: 22.8984 - accuracy: 0.5681 - val_loss: 45.7885 - val_accuracy: 0.5950
Epoch 80/100
177/177 [==============================] - 1s 8ms/step - loss: 24.8329 - accuracy: 0.5582 - val_loss: 18.8478 - val_accuracy: 0.5728
Epoch 81/100
177/177 [==============================] - 2s 9ms/step - loss: 20.0022 - accuracy: 0.5669 - val_loss: 29.4987 - val_accuracy: 0.5850
Epoch 82/100
177/177 [==============================] - 2s 9ms/step - loss: 26.2214 - accuracy: 0.5599 - val_loss: 20.9035 - val_accuracy: 0.6014
Epoch 83/100
177/177 [==============================] - 2s 10ms/step - loss: 17.8269 - accuracy: 0.5704 - val_loss: 15.6138 - val_accuracy: 0.6132
Epoch 84/100
177/177 [==============================] - 1s 7ms/step - loss: 25.4454 - accuracy: 0.5616 - val_loss: 9.0912 - val_accuracy: 0.5909
Epoch 85/100
177/177 [==============================] - 2s 9ms/step - loss: 25.6081 - accuracy: 0.5629 - val_loss: 28.9729 - val_accuracy: 0.5052
Epoch 86/100
177/177 [==============================] - 2s 9ms/step - loss: 22.9854 - accuracy: 0.5712 - val_loss: 20.4770 - val_accuracy: 0.6349
Epoch 87/100
177/177 [==============================] - 2s 9ms/step - loss: 24.7960 - accuracy: 0.5700 - val_loss: 33.4759 - val_accuracy: 0.4626
Epoch 88/100
177/177 [==============================] - 2s 9ms/step - loss: 20.7313 - accuracy: 0.5684 - val_loss: 26.6156 - val_accuracy: 0.5315
Epoch 89/100
177/177 [==============================] - 2s 9ms/step - loss: 24.2262 - accuracy: 0.5616 - val_loss: 8.9403 - val_accuracy: 0.5946
Epoch 90/100
177/177 [==============================] - 2s 9ms/step - loss: 28.7917 - accuracy: 0.5532 - val_loss: 52.5303 - val_accuracy: 0.4934
Epoch 91/100
177/177 [==============================] - 2s 9ms/step - loss: 24.8219 - accuracy: 0.5582 - val_loss: 18.1233 - val_accuracy: 0.5751
Epoch 92/100
177/177 [==============================] - 2s 9ms/step - loss: 30.3454 - accuracy: 0.5594 - val_loss: 19.2715 - val_accuracy: 0.6073
Epoch 93/100
177/177 [==============================] - 2s 9ms/step - loss: 20.8733 - accuracy: 0.5664 - val_loss: 18.8843 - val_accuracy: 0.5773
Epoch 94/100
177/177 [==============================] - 2s 9ms/step - loss: 23.3844 - accuracy: 0.5606 - val_loss: 14.2110 - val_accuracy: 0.6209
Epoch 95/100
177/177 [==============================] - 2s 11ms/step - loss: 26.2236 - accuracy: 0.5601 - val_loss: 10.5692 - val_accuracy: 0.5723
Epoch 96/100
177/177 [==============================] - 2s 10ms/step - loss: 30.5991 - accuracy: 0.5652 - val_loss: 23.3153 - val_accuracy: 0.5016
Epoch 97/100
177/177 [==============================] - 2s 10ms/step - loss: 23.4323 - accuracy: 0.5664 - val_loss: 32.9464 - val_accuracy: 0.5116
Epoch 98/100
177/177 [==============================] - 2s 8ms/step - loss: 23.6333 - accuracy: 0.5568 - val_loss: 13.7153 - val_accuracy: 0.5914
Epoch 99/100
177/177 [==============================] - 1s 8ms/step - loss: 20.4007 - accuracy: 0.5678 - val_loss: 21.7833 - val_accuracy: 0.5528
Epoch 100/100
177/177 [==============================] - 1s 4ms/step - loss: 28.2788 - accuracy: 0.5569 - val_loss: 11.1626 - val_accuracy: 0.5533

In [41]:
y_log = model.predict(X_test_trf)

87/87 [==============================] - 1s 3ms/step

In [42]:
y_pred = np.where(y_log>0.5,1,0)

In [45]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(y_test,y_pred)

0.636066763425254

In [46]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.67      0.60      0.64      1459
           1       0.60      0.67      0.63      1297

    accuracy                           0.64      2756
   macro avg       0.64      0.64      0.64      2756
weighted avg       0.64      0.64      0.64      2756